
.dashboardtitle{
    /* Dashboard */


position: absolute;
width: 137px;
height: 36px;
left: 64px;
top: 112px;

font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 36px;
/* identical to box height */


color: #000000;
}

.dashboardback {
    position: absolute;
width: 1792px;
height: 900px;
left: 64px;
top: 180px;

/* Base 1 */

background: #FBFCFD;
border-radius: 24px 24px 0px 0px;
}

.coursetoday.title {
    /* Course Today */


position: absolute;
width: 1133px;
height: 29px;
left: 133px;
top: 219px;

font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 29px;
/* identical to box height */


/* Primary Text Color */

color: #121926;
}

.coursetoday-card-title{
    width: 232px;
    height: 24px;
    
    /* Poppins H5 Regular */
    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height */
    
    
    /* Secondary Text Color */
    
    color: #697586;
    
    
    /* Inside auto layout */
    
    flex: none;
    order: 0;
    flex-grow: 0;
}

.coursetoday-card-subtitle{
    width: 200px;
    height: 27px;
    
    /* Poppins H4 Medium */
    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    /* identical to box height */
    
    
    /* Primary Text Color */
    
    color: #121926;
    
    
    /* Inside auto layout */
    
    flex: none;
    order: 0;
    flex-grow: 0;
}

.coursetoday-card1{

/* Auto layout */

display: flex;
flex-direction: column;
align-items: flex-start;
padding: 24px;
gap: 10px;

position: absolute;
width: 280px;
height: 103px;
left: 133px;
top: 284px;

background: #FFFFFF;
/* Line Color */

border: 1px solid #E3E8EF;
border-radius: 6px;
}

.coursetoday-card2 {
    /* Card 8 */


/* Auto layout */

display: flex;
flex-direction: column;
align-items: flex-start;
padding: 24px;
gap: 10px;

position: absolute;
width: 280px;
height: 103px;
left: 453px;
top: 284px;

background: #FFFFFF;
/* Line Color */

border: 1px solid #E3E8EF;
border-radius: 6px;
}

.coursetoday-card3 {
    /* Card 9 */


/* Auto layout */

display: flex;
flex-direction: column;
align-items: flex-start;
padding: 24px;
gap: 10px;

position: absolute;
width: 280px;
height: 103px;
left: 773px;
top: 284px;

background: #FFFFFF;
/* Line Color */

border: 1px solid #E3E8EF;
border-radius: 6px;
}

.mycourse.title {
    /* My Course */


position: absolute;
width: 1133px;
height: 29px;
left: 133px;
top: 467px;

font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 29px;
/* identical to box height */


/* Primary Text Color */

color: #121926;
}

.mycourse-card-title {
    width: 232px;
height: 24px;

/* Poppins H5 Regular */

font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
/* identical to box height */


/* Secondary Text Color */

color: #697586;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
}

.mycourse-card-subtitle {
    width: 200px;
height: 27px;

/* Poppins H4 Medium */

font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 27px;
/* identical to box height */


/* Primary Text Color */

color: #121926;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
}

.mycourse-card1{
    /* Card 1 */


/* Auto layout */

display: flex;
flex-direction: column;
align-items: flex-start;
padding: 24px;
gap: 10px;

position: absolute;
width: 280px;
height: 103px;
left: 133px;
top: 532px;

background: #FFFFFF;
/* Line Color */

border: 1px solid #E3E8EF;
border-radius: 6px;
}

.mycourse-card2 {
    /* Card 2 */


/* Auto layout */

display: flex;
flex-direction: column;
align-items: flex-start;
padding: 24px;
gap: 10px;

position: absolute;
width: 280px;
height: 103px;
left: 453px;
top: 532px;

background: #FFFFFF;
/* Line Color */

border: 1px solid #E3E8EF;
border-radius: 6px;
}

.mycourse-card3{
    /* Card 3 */


/* Auto layout */

display: flex;
flex-direction: column;
align-items: flex-start;
padding: 24px;
gap: 10px;

position: absolute;
width: 280px;
height: 103px;
left: 773px;
top: 532px;

background: #FFFFFF;
/* Line Color */

border: 1px solid #E3E8EF;
border-radius: 6px;
}

.mycourse-card4{
    /* Card 4 */


/* Auto layout */

display: flex;
flex-direction: column;
align-items: flex-start;
padding: 24px;
gap: 10px;

position: absolute;
width: 280px;
height: 103px;
left: 1093px;
top: 532px;

background: #FFFFFF;
/* Line Color */

border: 1px solid #E3E8EF;
border-radius: 6px;
}

.mycourse-card5 {
    /* Card 5 */


/* Auto layout */

display: flex;
flex-direction: column;
align-items: flex-start;
padding: 24px;
gap: 10px;

position: absolute;
width: 280px;
height: 103px;
left: 133px;
top: 675px;

background: #FFFFFF;
/* Line Color */

border: 1px solid #E3E8EF;
border-radius: 6px;
}

.mycourse-card6 {
    /* Card 6 */


/* Auto layout */

display: flex;
flex-direction: column;
align-items: flex-start;
padding: 24px;
gap: 10px;

position: absolute;
width: 280px;
height: 103px;
left: 453px;
top: 675px;

background: #FFFFFF;
/* Line Color */

border: 1px solid #E3E8EF;
border-radius: 6px;
}

.splitter {
    /* Rectangle 2773 */


position: absolute;
width: 4px;
height: 857px;
left: 1435px;
top: 223px;

/* Fuschia/60 */

background: #FCDDEC;
}


.calendar-box{
    /* Calendar */


box-sizing: border-box;

position: absolute;
width: 328px;
height: 341.84px;
left: 1486px;
top: 219px;

background: #FFFFFF;
border: 1px solid #E3E8EF;
border-radius: 17.039px;
}

.assignment {
    /* Assignment & Quiz */


position: absolute;
width: 328px;
height: 471px;
left: 1486px;
top: 586px;
}

.assignment-box {
/* Rectangle 403 */


box-sizing: border-box;

position: absolute;
width: 328px;
height: 471px;
left: 0px;
top: 0px;

background: #FFFFFF;
/* Line Color */

border: 1px solid #E3E8EF;
border-radius: 16px;
}

.assignment-title {
    /* Assignment & Quiz */


position: absolute;
width: 210px;
height: 22px;
left: 24px;
top: 24px;

font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 22px;
/* identical to box height */


/* Primary Text Color */

color: #121926;

}

.assignment-all {
    /* See All */


position: absolute;
width: 46px;
height: 17px;
left: 258px;
top: 27px;

font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 17px;
/* identical to box height */

text-align: right;

/* Primary Color */

color: #30B3AB;

cursor: pointer;
}

.assignment-splitter {
    /* Line 6 */


position: absolute;
width: 280px;
height: 0px;
left: 24px;
top: 70px;

/* Line Color */

border: 1px solid #E3E8EF;
}